@model Demo_Poet.Models.Poet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Poet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoetVerse1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoetVerse1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoetVerse2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoetVerse2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
